<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ImageTransforms" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <ImageTransforms>
    <add key=".jpg-large" value=".jpg" />
    <add key=".jpg_large" value=".jpg" />
    <add key=".png-large" value=".png" />
    <add key=".png_large" value=".png" />
 </ImageTransforms>
  <appSettings>
    <add key="sourcePath" value="F:\Pictures\Randoms"/>
    <add key="maxPerFolder" value="1000"/>
    <add key="validImageExtensions" value=".jpg,.png,.bmp,.gif,.jpeg"/>
    <add key="validVideoExtensions" value=".mp4,.mkv,.mov,.webm,.wmv" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
